<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474029663562-mg8ug7q8k6e5k0edb6rse8epng4i2dht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474029663562-mg8ug7q8k6e5k0edb6rse8epng4i2dht</string>
	<key>API_KEY</key>
	<string>AIzaSyBao0UON9SDGLWsbVBfGR9CtQvBgjhdhoY</string>
	<key>GCM_SENDER_ID</key>
	<string>474029663562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adv.monsba</string>
	<key>PROJECT_ID</key>
	<string>monaspah-b2be6</string>
	<key>STORAGE_BUCKET</key>
	<string>monaspah-b2be6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474029663562:ios:0aced7a1768fd3580a0db3</string>
</dict>
</plist>